body {
font-family: Arial;
background: #0f172a;
color: white;
text-align: center;
}

.container {
margin-top: 100px;
}

input {
padding: 12px;
width: 60%;
border-radius: 8px;
border: none;
}

button {
padding: 12px;
margin-left: 10px;
border-radius: 8px;
border: none;
background: #22c55e;
color: white;
}

#result {
margin-top: 30px;
}
